/* HomePage.css */

.homepage-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.list-group-item {
  background-color: #d3d3d3;
  border: 1px solid #a9a9a9;
  color: #333;
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #c0c0c0;
}
